<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.Xamarin.Charts" version="15.2.20152.2125" targetFramework="win81" />
  <package id="Infragistics.Xamarin.Core" version="15.2.20152.2125" targetFramework="win81" />
  <package id="Xamarin.Forms" version="2.1.0.6529" targetFramework="win81" />
</packages>